{% if craft.breadcrumb.config is defined %}
    {% set breadcrumb = craft.breadcrumb.config %}

    {% if breadcrumb is defined %}
    <nav class="breadcrumb mb-4" aria-label="{{'breadcrumbs'|t}}">
        <ul class="flex" itemscope itemtype="http://schema.org/BreadcrumbList">
            {% for crumb in breadcrumb  %}
                {% if loop.last %}
                    <li class="c-breadcrumb__item uppercase font-bold text-sm flex">
                        <span>{{ crumb.title }}</span>
                    </li>
                {% else %}
                    <li class="c-breadcrumb__item uppercase font-bold text-sm flex">
                        <a class="mr-2 opacity-70 hover:opacity-100 transition-all" href="{{ crumb.url }}">
                            {% if crumb.title == 'Home' %}
                                <i class="far fa-home-alt"></i>
                            {% else %}
                                <span>{{ crumb.title }}</span>
                            {% endif %}
                        </a>
                        <span class="mr-2 opacity-70">/</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% endif %}




