<footer id="footer" class="mb-16">
    <div class="container">
        <div class="flex justify-between items-center mb-16">
            <img src="/assets/img/logo-icon.svg" alt="">
            <div>
                <a href="#" class="btn btn-solid mr-2">Make a complaint</a>
                <a href="#" class="btn btn-solid">133 OHO (133 646)</a>
            </div>
        </div>
        <div class="flex justify-between">
            <div class="footerNav">
                <p><strong>ABOUT</strong></p>
                <ul>
                    <li><a href="#">The health ombudsman</a></li>
                    <li><a href="#">Governance</a></li>
                    <li><a href="#">Our performance</a></li>
                    <li><a href="#">Work for the OHO</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footerNav">
                <p><strong>ABOUT</strong></p>
                <ul>
                    <li><a href="#">The health ombudsman</a></li>
                    <li><a href="#">Governance</a></li>
                    <li><a href="#">Our performance</a></li>
                    <li><a href="#">Work for the OHO</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footerNav">
                <p><strong>ABOUT</strong></p>
                <ul>
                    <li><a href="#">The health ombudsman</a></li>
                    <li><a href="#">Governance</a></li>
                    <li><a href="#">Our performance</a></li>
                    <li><a href="#">Work for the OHO</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footerNav">
                <p><strong>ABOUT</strong></p>
                <ul>
                    <li><a href="#">The health ombudsman</a></li>
                    <li><a href="#">Governance</a></li>
                    <li><a href="#">Our performance</a></li>
                    <li><a href="#">Work for the OHO</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="bottomFooter py-8 bg-light">
    <div class="container flex justify-between">
        <div>
            <ul class="flex">
                <li class="mr-4"><a href="#">&copy; Office of the Health Ombudsman</a></li>
                <li class="mr-4"><a href="#">Privacy policy</a></li>
                <li class="mr-4"><a href="#">Disclaimer</a></li>
                <li class="mr-4"><a href="#">Right to information</a></li>
            </ul>
        </div>
        <div>
            <a href="https://newwordorder.com.au">Website by NWO</a>
        </div>
    </div>
</div>