<header>
    <div class="container flex items-center justify-between w-full py-8">
        <div class="logo">
            <img src="/assets/img/logo.svg" alt="">
        </div>
        <nav>
            <ul class="flex justify-end">
                <li class="ml-2"><a href="#">LANGUAGE</a></li>
                <li class="ml-2"><a href="#">NEWS & UPDATES</a></li>
                <li class="ml-2"><a href="#">CONTACT</a></li>
            </ul>
            <ul class="flex justify-end">
                <li class="ml-2"><a href="#">For the public</a></li>
                <li class="ml-2"><a href="#">For the providers</a></li>
                <li class="ml-2"><a href="#">Make a complaint</a></li>
            </ul>
        </nav>
    </div>

</header>

<section class="bg-blue-500 py-8">
    <div class="container">
        <h1>This is where a banner will go</h1>
    </div>
</section>

