<header>
    <div class="container flex items-center justify-between w-full py-8">
        <div class="logo">
            <img src="/assets/img/logo.svg" alt="">
        </div>
        <nav>
            <ul class="flex justify-end mb-4">
                <li class="ml-4"><a class="font-bold" href="#">LANGUAGE</a></li>
                <li class="ml-4"><a class="font-bold" href="#">NEWS & UPDATES</a></li>
                <li class="ml-4"><a class="font-bold" href="#">CONTACT</a></li>
            </ul>
            <ul class="flex justify-end items-center">
                <li class="ml-4 text-xl"><a href="#">For the public</a></li>
                <li class="ml-4 text-xl"><a href="#">For the providers</a></li>
                <li class="ml-4 text-xl"><a class="btn btn-solid" href="#">Make a complaint</a></li>
            </ul>
        </nav>
    </div>

</header>

<section class="relative">
    <div class="bg-scroll border-b-4 border-orange h-756px" style="background-image: url('/assets/img/banner.jpg');background-repeat: no-repeat;background-size: cover">
        <div class="container flex items-center h-full">
            <div class="w-1/2">
                <h1>
                    Resolving complaints for safe and fair Queensland healthcare
                </h1>
                <a href="#" class="btn btn-solid mr-2">Make a complaint</a>
            </div>
        </div>
    </div>
</section>

