{% extends "/_layouts/site" %}

{% block main %}

    {% include '/_partials/page-header' %}

    {% if entry.getParent | length %}
        <section class="bg-white border-none">
            <div class="md:max-w-3xl mx-auto pt-8 flex justify-between space-x-8">
                {% set entries = craft.entries()
                    .siblingOf(entry)
                    .limit(2)
                    .all() %}
                {% for entry in entries %}
                    <a class="btn btn-solid flex items-center" href="{{ entry.url }}">
                        {% if loop.first %}<i class="fas fa-chevron-circle-left mr-4"></i>{% endif %}{{ entry.title }} {% if loop.last %}<i class="fas fa-chevron-circle-right ml-4"></i>{% endif %}
                    </a>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {% include '/_partials/layout-builder' %}
{% endblock %}