{% spaceless %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="antialiased">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>
      {% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />

    {% do view.registerCssFile("/dist/styles.css") %}

    <link rel="stylesheet" href="https://use.typekit.net/iwi6una.css">

    {% block head %}{% endblock %} 

 </head>
 <body class="{% if bodyClass is defined %}{{ bodyClass }}{% endif %} font-body">

   {% block body %}{% endblock %}  

   {% do view.registerJsFile("/dist/main.js") %}
   {% block foot %}{% endblock %}

 </body> 
</html>
{% endspaceless %}