/*! Section background colours */

.section-bg-white {
    background-color: #fff;
}
 
.section-bg-light {
    @apply bg-light;
}

.section-bg-dark {
    @apply bg-dark;
}

.section-bg-navy {
    @apply bg-navy-500;
}

.section-bg-blue {
    @apply bg-blue;
}

.section-bg-green {
    @apply bg-green;
}

.section-bg-orange {
    @apply bg-orange;
}

.section-bg-primary {
    @apply bg-primary-500;
    
}

.section-inner {
    margin-bottom: 2rem;
    @apply relative;
}

*:nth-last-child(1) {
    margin-bottom: 0!important;
}