<div id="searchContainer" class=" active btn-link
    btn-primary
    btn-orange
    btn-red
    border-l-2
    section-bg-white
    section-bg-light
    section-bg-green
    section-bg-navy
    section-bg-blue
    section-bg-dark
    section-bg-primary
    theme-light
    theme-dark
    opacity-0
    opacity-10
    opacity-20
    opacity-30
    opacity-40
    opacity-50
    opacity-60
    opacity-70
    opacity-80
    opacity-90
    opacity-100
    md:opacity-0
    md:opacity-10
    md:opacity-20
    md:opacity-30
    md:opacity-40
    md:opacity-50
    md:opacity-60
    md:opacity-70
    md:opacity-80
    md:opacity-90
    md:opacity-100
    h-screen
swiper-container-initialized swiper-container-horizontal
    swiper-pagination-bullets
    swiper-pagination-bullet
    swiper-pagination-bullet-active
">
<h1></h1>
<h2></h2>
<h3></h3>
<h4></h4>
<h5></h5>
<h6></h6>
<p></p>
<button></button>
<blockquote></blockquote>
</div>