{% if module.type.handle == 'buttons' %}
    <div class="container">
        <a class="btn btn-{{ module.style }}" href="{{ module.buttonUrl }}" {% if module.newWindow %}target="_blank" rel="noopener"{% endif %}>
            {{ module.buttonText }}
        </a>

    </div>
{% endif %}

