{% if module.type.handle == 'cards' %}

    {# if no related fields are present then use the entered code #}
    {# Fetch entries with a related entry #}
    {% set related = module.relatedEntries.all() %}
    {% if related|length %}

        {% for rel in related %}
            <div class="w-full px-4">
                <div class="p-8 bg-white">
                    <p class="text-sm font-normal uppercase text-red">{{ rel.title }}</p>
                    {{ rel.richContent }}
                </div>
            </div>
        {% endfor %}

        {# otherwise render the card as related entry #}
    {% else %}
        <div class="w-full px-4">
            <div class="p-8 bg-white">
                <p class="text-sm font-normal uppercase text-red">{{ module.cardTitle }}</p>
                <p>{{ module.cardContent }}</p>
            </div>
        </div>
    {% endif %}



{% endif %}