{% if module.type.handle == 'events' %}
    {% if module.richText is not empty %}
        <div class="container relative mb-8">
            <div class="flex flex-wrap items-center -mx-3">
                <div class="w-2/3 richtext px-3 mb-3 md:mb-0"> 
                    {{ module.richText | markdown }}
                </div>
                <div class="w-1/3 px-3 flex justify-end"> 
                    <a class="btn btn-outline" href="/events">View all</a>
                </div>
            </div> 
        </div>
    {% endif %}
    {% if module.eventEntries is empty %}
        {% set eventsEntries = craft.entries().section('events').limit(3).all() %}
    {% else %}
        {% set eventsEntries = module.eventEntries %}
    {% endif %}
    <div class="relative container swiper-container entry-swiper overflow-visible pb-10 lg:pb-0">
        <div class="swiper-wrapper">
           
            {% for entry in eventsEntries %}
                <div class="swiper-slide">
                    {% include '/_partials/_components/eventCard' %}
                </div>
            {% endfor %}
            
        </div>
        <div class="swiper-pagination block lg:hidden"></div>
    </div>
{% endif %}     