{% if module.type.handle == 'image' %}   
    {% if module.image.one() %}
    <div class="container relative">
        <div class="md:max-w-4xl mx-auto "> 
            <figure>
                {% set image = module.image.one() %}
                {% set transformedImages = craft.imager.transformImage(image,
                    [
                        { width: 2000 },
                        { width: 1020, jpegQuality: 80 },
                    ],
                    {
                        format: 'jpg',
                        allowUpscale: true,
                        mode: 'crop',
                        jpegQuality: 80,
                        interlace: true,
                        position: image.getFocalPoint()
                    }
                    )
                %}
                
                <img class="lazyload rounded object-cover w-full h-full"
                     src="{{ craft.imager.base64Pixel(2,1) }}"
                     data-sizes="100vw"
                     data-srcset="{{ craft.imager.srcset(transformedImages) }}"
                     alt="{{ image.title }}"
                >
                
                {% if module.caption %}
                <figcaption class="text-sm text-gray-500 mt-4">
                    {{ module.caption }}
                </figcaption>
                {% endif %}
            </figure>   
            
        </div>
    </div> 
    {% endif %}
{% endif %}    