{% if module.type.handle == 'richText' %}
    <div class="container relative">
        <div class="md:max-w-2xl mx-auto richtext {% if module.alignCentre %}text-center{% endif %}">
            <h3 class="font-bold">{{ module.heading }}</h3>
            <p class="text-xl text-navy-500">{{ module.text }}</p>
        </div>
    </div>
{% endif %}     