{% if module.type.handle == 'video' %}  
    <div class="container relative">
        <div class="mx-auto">
            {% include '/_partials/_components/video' %}
        </div>
    </div>
{% endif %}