{% if module.type.handle == 'video' %}
    <div class="container mx-auto">
        <div class="w-full mx-auto relative">
            <figure class="embed-container rounded overflow-hidden">
                {{ module.embedCode | raw }}
            </figure>
            {% if module.videoCaption %}
                <figcaption class="text-sm text-gray-500 mt-4">
                    {{ module.videoCaption }}
                </figcaption>
            {% endif %}
        </div>
    </div>
{% endif %}    